<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>489160506339-egia3frjqchc8gtipkn4651kubailnvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489160506339-egia3frjqchc8gtipkn4651kubailnvu</string>
	<key>API_KEY</key>
	<string>AIzaSyBaZdyK5GEjIu9b-_gle6VYrPsbQRWqzp0</string>
	<key>GCM_SENDER_ID</key>
	<string>489160506339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>michaelalexander.SkateSpots</string>
	<key>PROJECT_ID</key>
	<string>sk8spots-b8769</string>
	<key>STORAGE_BUCKET</key>
	<string>sk8spots-b8769.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:489160506339:ios:085d14f850b083e3</string>
	<key>DATABASE_URL</key>
	<string>https://sk8spots-b8769.firebaseio.com</string>
</dict>
</plist>